{% extends "base.html" %}

{% block body %}
<h1>Library</h1>

<ul>
  {% for book in books %}
    <li>
        <a href="{% url 'get_book' book.id %}"> {{book.title}}</a> | {{book.author}}
    </li>
  {% endfor %}
</ul>

{% endblock %}
