{% extends "base.html" %}

{% block body %}
<h1>{{book.title}} | {{book.author}}</h1>

<ul>
  {% for chapter in book.chapter_set.all|dictsort:"index_number" %}
    <li>
        <a href="{% url 'get_chapter' book.id chapter.id %}"> {{chapter.title}}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
