<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
        <script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}jquery.caret.js"></script>

        <style type="text/css">
            {% include 'style/style.css' %}
        </style>

        <title>Hinjection</title>

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <hr>
    <footer>
        <div class="menu">
            <ul>
                {% if user.is_authenticated %}
                    <li>{{ user }}, <a href="/accounts/logout">logout</a></li> |
                    <li><a href="{% url 'get_books' %}">home</a></li> |
                    <li><a href="/admin">admin</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="dev">
            <ul>
                <li>only for development/testing</li>
            </ul>
        </div>
    </footer>
</html>
